body {
  width: 1340px;
  background-color: white;
}

header {
  width: auto;
  height: 150px;
background-color: #003366;
color: white;
margin: 20px;
text-align: center;
font-family: helvetica;
padding: 20px;
border-bottom: 2px ridge black;
border-radius: 15px;
box-shadow: 10px 0px 10px black;
}

header img {
  width: 150px;
  height: 150px;
  float: left;
}

aside {
  width: 200px;
  height: 690px;
  background-color: #1D4851;
  color: white;
  font-family: helvetica;
  border: 2px ridge black;
  box-shadow: 10px 0px 10px black;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

aside li {
  padding: 2px;
}

h3 {
  text-decoration: underline;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.first {
  background-color: #EFEFEF;
  font-family:helvetica;
  font-size: 15px;
  height: 530px;
  width:  1000px;
  padding: 15px;
  margin-top: -725px;
  margin-right: 20px;
  border: 2px ridge black;
  border-radius: 15px;
  float: right;
    box-shadow: 10px 0px 10px black;
}

.second {
  background-color: #EFEFEF;
  border: 2px ridge black;
  border-radius: 15px;
  font-family: helvetica;
  font-size: 15px;
  padding: 15px;
  margin-top: -135px;
  margin-left: 287px;
  margin-right: 20px;
  box-shadow: 10px 0px 10px black;
}

.second li {
  padding: 15px;
}
