body {
  width: 1340px;
  background-color: #B0C4DE;
}

header {
  width: auro;
  height: 150px;
background-color: #DCDCDC;
margin: 20px;
text-align: center;
font-family: arial;
padding: 10px;
border-bottom: 2px groove black;
border-radius: 15px;
box-shadow: 10px 0px 10px black;
}

header img {
  width: 150px;
  height: 150px;
  float: left;
}

aside {
  width: 200px;
  height: 520px;
  background-color: #EFEFEF;
  font-family: Arial;
  border: 2px groove black;
  box-shadow: 10px 0px 10px grey;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  text-decoration: underline;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
